@charset "UTF-8";


/*Typical device breakpoint
-------------------------
Pequenas telas até 600px
Celular:600px até 768px
Tablet:768px 992px
desktop:992px até 1200px
Grandes telas: acima de 1200px
----------------------------
 */
/*FIRST MOBILE*/

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  /*Variáveis para cores:*/
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
  --barra-altura: 10px;
  --barra-fundo: #e6e6e6;
  --barra-cor: var(--destaque, #66bbff);
}

body.escuro {
  --fundo-principal: #1e1e1e;
  --texto: #e0e0e0;
  --texto-inverso: #222222;
  --destaque: #B85600;
  --destaque-inverso: #FF9333;
  --fundo-card: #2a2a2a;
  --barra-fundo: #4d4c4c;
  --barra-cor: var(--destaque);
  
}

main{
  display: grid;
  grid-template-columns: auto 20vw 70vw auto;
  grid-template-rows: auto auto;
  align-items: start;
  margin: 0 auto;
  margin-top: 70px;
  gap: 20px;
}

div#perfil{
    grid-column: 2;
    margin-top: 20px;
    position: sticky;
    top: 80px;
    align-self: start;
}

nav#rede ul{
    margin-top: 20px;
}
section#detalhes{
    grid-column: 3;
    margin-top: 20px;
}

/*ABA SKILLS*/
div.colunas{
    display: flex;
    gap: 20px;
}
div.coluna{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

/*ABA PROJETOS*/
div.projeto{
    display: flex;
    flex-flow: row-reverse nowrap;
}
div.text{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    text-align: justify;
    padding: 10px;
}
.projeto  a {
  align-self: flex-start;
  margin-top: 30px;
  height:auto;
  width: 30%;
  border-radius: 10px;
}
div.projeto img{
  transition: 
  transform 0.4s ease, 
  box-shadow 0.4s ease,
  outline 0.3s ease;
}
div.projeto img:hover {
  transform: translateY(-8px) scale(1.03); /* sobe e aumenta um pouco */
  box-shadow: 0px 8px 18px rgba(0,0,0,0.25);
  
}