/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  /*Variáveis para cores:*/
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
  --barra-altura: 10px;
  --barra-fundo: #e6e6e6;
  --barra-cor: var(--destaque, #66bbff);
}

body{
  background-color: var(--fundo-principal);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto)
  
}
body.escuro {
  --fundo-principal: #1e1e1e;
  --texto: #e0e0e0;
  --texto-inverso: #222222;
  --destaque: #B85600;
  --destaque-inverso: #FF9333;
  --fundo-card: #2a2a2a;
  --barra-fundo: #4d4c4c;
  --barra-cor: var(--destaque);
  
}


header{
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}
nav#menu ul{
  list-style: none;
  display: flex;
  gap: 10px;  
  padding: 10px;
}

nav#menu a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-size: 1.6em;
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.6s, color 0.6s;
}
nav#menu a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}
main{
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: auto auto;
  justify-content: center;
  margin: 0 auto;
  row-gap: 25px;
}
div#perfil{
  grid-column: 2;
  grid-row: 1;
  padding: 8px;
  background-color:var(--fundo-card);
  border-radius: 10px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.247);
  transition: background-color 0.5s ease, color 0.5s ease;
}
div#perfil img{
  display: block;
  margin: 20px auto 20px auto;
  width: 180px;          
  height: 180px;  
  border-radius: 50%;
  outline: 4px solid var(--destaque);
  outline-offset: 2px;
}
div#perfil h1, div#detalhes h1{
  color: var(--destaque);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.199);
  margin-top: 10px;
}
div#perfil p{
  padding:10px;
  font-size: 1.3em;
  line-height: 23px;
  color: var(--texto);
  align-self: center;
  text-align: justify;
  width: 100%;
}

div.detalhes{
  grid-column: 2;
  grid-row: 2;
  padding: 8px;
  background-color:var(--fundo-card);
  border-radius: 10px;
  
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.247);
  transition: background-color 0.5s ease, color 0.5s ease;
}

nav#rede ul{
  list-style: none; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 20px 0px 10px 0px ;
}

nav#rede a{
  color: var(--destaque);
  font-size: 3em;
  font-weight: 600;
  padding: 12px 15px;
  transition: color 0.5s;
}
nav#rede a:hover{
  color: var(--destaque-inverso);
}

section.skills{
  display: grid;
  gap: 18px 28px;
  grid-template-columns: 1fr;
  margin: 20px 0px;
}
div.titulo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  margin-bottom: 10px;
  
}
div.titulo > div.esqueda{
  display: inline-block;
  align-items: center;
  gap:10px
}
div.titulo > span.porcentagem{
  color: var(--destaque)
}
div.barra-fundo{
  height: var(--barra-altura);
  background: var(--barra-fundo);
  border-radius: 99px;
  overflow: hidden;
   box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.151);
}
div.cor-barra{
  height: 100%;
  width: calc(var(--porcentagem, 0) *1%);/* convertendo o valor dado em skill para porcentagem  se a variavel não existir definir para 0*/
  background:var(--barra-cor);
  border-radius: inherit;
  transition: width .8s ease; 
}
